
@{
    ViewBag.Title = "Información de verificación";
}

<div class="account-pages"></div>
<div class="clearfix"></div>

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <div class="text-error"><span class="text-primary">2</span><span class="text-pink">0</span><span class="text-info">0</span></div>
        <h2>Email enviado correctamente</h2><br>
        <p class="text-muted">Verificar tu correo eléctronico</p>
        <br>
        <a class="btn btn-default waves-effect waves-light" href="@Url.Action("Login")"> Volver al Inicio de Sesión</a>

    </div>
</div>

