@model PayPlusModels.UserViewModel

@{
    <img src="~/Content/Images/login-logo.png" width="50" class="icon-magnet icon-c-logo">
    if (Model != null)
    {

        <span>@Model.USERNAME</span>
    }
    else
    {
        <span>E-City Software</span>
    }


}

