<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="PayPadAdministrator" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="UrlApi" value="http://200.122.221.193:7997/" /> 
    <add key="CustomerGetType" value="ApiAdministrator/api/Customers/CustomerGetType" /> 
    <add key="CreateTypeCustomer" value="ApiAdministrator/api/Customers/CreateTypeCustomer" /> 
    <add key="GetLocations" value="ApiAdministrator/api/Customers/GetLocations" />
    <add key="CreateCustomer" value="ApiAdministrator/api/Customers/CreateCustomer" />
    <add key="GetCustomers" value="ApiAdministrator/api/Customers/GetCustomers" /> 
    <add key="GetClientsFromSponsor" value="ApiAdministrator/api/Customers/GetClientsFromSponsor" /> 
    <add key="AssingCustomerToSponsor" value="ApiAdministrator/api/Customers/AssingCustomerToSponsor" /> 
    <add key="GetOfficesForClient" value="ApiAdministrator/api/Customers/GetOfficesForClient" /> 
    <add key="CreateOfficeForClient" value="ApiAdministrator/api/Customers/CreateOfficeForClient" /> 
    <add key="GetAllPayPads" value="ApiAdministrator/api/PayPad/GetAllPayPads" />
    <add key="CreatePayPad" value="ApiAdministrator/api/PayPad/CreatePayPad" />
    <add key="GetCurrencies" value="ApiAdministrator/api/Generic/GetCurrencies" />
    <add key="CreateCurrency" value="ApiAdministrator/api/Generic/CreateCurrency" />      
    <add key="CreateDenominationForCurrency" value="ApiAdministrator/api/Generic/CreateDenominationForCurrency" />      
    <add key="GetDevices" value="ApiAdministrator/api/Devices/GetDevices" />      
    <add key="CreateDevice" value="ApiAdministrator/api/Devices/CreateDevice" />      
    <add key="GetDenominationsForCurrency" value="ApiAdministrator/api/Generic/GetDenominationsForCurrency?currencyId=" />      
    <add key="GetPayPadForId" value="ApiAdministrator/api/PayPad/GetPayPadForId?paypadId=" />   
    <add key="GetRoles" value="ApiAdministrator/api/Generic/GetRoles" />   
    <add key="CreateRole" value="ApiAdministrator/api/Generic/CreateRole" />   
    <add key="GetTransact" value="ApiAdministrator/api/Generic/GetTransact?transactId=" />   
    <add key="CreateTransact" value="ApiAdministrator/api/Generic/CreateTransact" />   
    <add key="GetTransactsForPaypad" value="ApiAdministrator/api/PayPad/GetTransactsForPaypad?paypadId=" />   
    <add key="GetAllUsers" value="ApiAdministrator/api/Users/GetAllUsers" />   
    <add key="GetNameCustomerForId" value="ApiAdministrator/api/Customers/GetNameCustomerForId?customerId=" />   
    <add key="CreateUser" value="ApiAdministrator/api/Users/CreateUser" />    
    <add key="GetModules" value="ApiAdministrator/api/Modules/GetModules" />    
    <add key="GetSubModules" value="ApiAdministrator/api/Modules/GetSubModules?modulesId=" />    
    <add key="CreateModule" value="ApiAdministrator/api/Modules/CreateModule" />    
    <add key="CreateSubModule" value="ApiAdministrator/api/Modules/CreateSubModule" />    
    <add key="GetValidateModulesAssingForUser" value="ApiAdministrator/api/Modules/GetValidateModulesAssingForUser?userId=" />    
    <add key="AssingModuleToUser" value="ApiAdministrator/api/Modules/AssingModuleToUser" />    
    <add key="GetAllsTransactForPayPad" value="ApiAdministrator/api/PayPad/GetAllsTransactForPayPad?PayPadId=" />    
    <add key="AssingTransactForPaypad" value="ApiAdministrator/api/PayPad/AssingTransactForPaypad" />    
    <add key="GetModuleForUser" value="ApiAdministrator/api/Modules/GetModuleForUser?userId=" />    
    <add key="GetValidateModulesAssingForCustomer" value="ApiAdministrator/api/Modules/GetValidateModulesAssingForCustomer?customerId=" />    
    <add key="AssingModuleToCustomer" value="ApiAdministrator/api/Modules/AssingModuleToCustomer" />    
    <add key="GetUserForCustomerAndRol" value="ApiAdministrator/api/Users/GetUserForCustomerAndRol" />    
    <add key="ValidateOfficeUsers" value="ApiAdministrator/api/Users/ValidateOfficeUsers?officeId=" />    
    <add key="GetOfficeForId" value="ApiAdministrator/api/Customers/GetOfficeForId?officeId=" />    
    <add key="AssingUserToOffice" value="ApiAdministrator/api/Users/AssingUserToOffice" />    
    <add key="GetAllPayPadsForCustomer" value="ApiAdministrator/api/PayPad/GetAllPayPadsForCustomer?customerId=" />    
    <add key="GetAllPayPadsForUserOffice" value="ApiAdministrator/api/PayPad/GetAllPayPadsForUserOffice?userId=" />    
    <add key="GetValidateModulesAssingForUserResponsible" value="ApiAdministrator/api/Modules/GetValidateModulesAssingForUserResponsible" />    
    <add key="GetTransactionForTransact" value="ApiAdministrator/api/Reports/GetTransactionForTransact" />    
    <add key="GetTransactionCM" value="ApiAdministrator/api/Reports/GetTransactionCM" />    
    <add key="GetDeviceTypes" value="ApiAdministrator/api/Devices/GetDeviceTypes" />    
    <add key="CreateDeviceType" value="ApiAdministrator/api/Devices/CreateDeviceTypes" />    
    <add key="GetAllsDevicesForPayPad" value="ApiAdministrator/api/Devices/GetAllsDevicesForPayPad?PayPad_Id=" />    
    <add key="AssingDeviceForPayPad" value="ApiAdministrator/api/Devices/AssingDeviceForPayPad" />    
    <add key="GetDetailsDevicesForPayPad" value="ApiAdministrator/api/Devices/GetDetailsDevicesForPayPad?" />    
    <add key="GetCustomersFromSponsor" value="ApiAdministrator/api/Customers/GetCustomersFromSponsor?sponsorId=" />        
    <add key="GetAllPayPadsForSponsor" value="ApiAdministrator/api/PayPad/GetAllPayPadsForSponsor?sponsorId=" />        
    <add key="GetCurrency_DenominationForId" value="ApiAdministrator/api/Generic/GetCurrency_DenominationForId?currencyDenominationId=" />        
    <add key="UpdateDenominationForCurrency" value="ApiAdministrator/api/Generic/UpdateDenominationForCurrency" />        
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <membership defaultProvider="CustomMembership">
      <providers>
        <clear />
        <add name="CustomMembership" type=" PayPadAdministrator.CustomAuthentication.CustomMembership" />
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRole" enabled="true">
      <providers>
        <clear />
        <add name="CustomRole" type="PayPadAdministrator.CustomAuthentication.CustomRole" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>