@model IEnumerable<PayPadAdministrator.Models.VideoTransactionsViewModel>

@{
    /**/

}

@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-block p-3">
                        <!--Title-->
                        <h3 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>@item.NameVideo</strong></h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            @if (item.Video != null)
                            {
                                var base64 = Convert.ToBase64String(item.Video);
                                <video class="responsive-video" controls>
                                    <source type="video/mp4" src="data:video/mp4;base64,@base64">
                                </video>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="wrapper-page">
        <div class="ex-page-content text-center">
            <div class="text-error"><span class="text-primary"></span><i class="ti-face-sad text-pink"></i><i class="ti-face-sad text-info"></i></div>
            <h2>@ViewBag.Title</h2><br>
            <p class="text-muted">¿Por qué no intentar refrescar tu página? o puedes enviar correo eléctronico a <a href="mailto:ecitysoftware@gmail.com">ecitysoftware@gmail.com</a></p>
            <br>
        </div>
    </div>
}



